# Base de Datos PostgreSQL
POSTGRES_DB=orderflow_db
POSTGRES_USER=orderflow_user
POSTGRES_PASSWORD=orderflow_pass_secret
POSTGRES_PORT=5400

# RabbitMQ Broker
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# URLs de Servicios y Puertos
ORDERS_API_PORT=5051
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:5051
